<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.HeroMapper">
    <select id="selectByName" resultType="com.example.domain.Hero">
        SELECT * FROM hero WHERE name=#{name}
    </select>

    <insert id="insertHero">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY
        </selectKey>
        INSERT INTO hero(name) VALUES (#{p_hero.name})
    </insert>

    <select id="selectByNameWithTableName" resultType="com.example.domain.Hero">
        SELECT * FROM ${tableName} WHERE name=#{name}
    </select>

    <insert id="insertBatch">
        insert into hero(id,name) values
        <foreach collection="heroes" item="hero" separator=",">
            (null,#{hero.name})
        </foreach>
    </insert>
</mapper>